{
  "apiVersion": "v1",
  "kind": "Service",
  "metadata": {
    "labels": null,
    "name": "mysqlDB_NUMBER",
    "namespace": "default"
  },
  "spec": {
    "clusterIP": "10.0.0.DB_CLUSTER_IP",
    "ports": [
    {
        "name": "port2",
        "protocol" : "TCP",
        "port": 3306,
        "targetPort": 3306 
    }],
    "selector": {
      "datawise.io/app": "mysqlDB_NUMBER"
    }
  }
}
